*{
  margin: 14;
  padding: 8;
  box-sizing: border-border-box;
}
body {
  background-color:#ececec;
  font-family: 'mongoose', serif;
  font-size: 80px;

}
h1 {
  font-family: mongoose, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
}
