h1 {
  font-family: fredericka-the-greatest, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: uunderline;
  text-indent: 30px
  text-transform: uppercase;
  color: #05AFF2;
  word-spacing: 10px;
  line-height: 200px
}
p {
  font-size: 15px;
  line-height: 40px
}
h3  {
  font-family: fredericka-the-greatest, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: uunderline;
  text-indent: 30px
  text-transform: uppercase;
  color: #62D9C3;
  word-spacing: 10px;
  line-height: 80px
}
h4  {
  font-family: fredericka-the-greatest, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: uunderline;
  text-indent: 30px
  text-transform: uppercase;
  color: #62D9C3;
  word-spacing: 10px;
  line-height: 80px
}
ol {
  font-family: arial, times new roman;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: uunderline;
  text-indent: 30px
  text-transform: uppercase;
  color: #62D9C3;
  word-spacing: 10px;
  line-height: 80px
}
