h1 {
  font-family: mongoose, chiller;
  font-size: 22px;
  font-style: italic
  font-weight: 100;
  text-align: center;
  text-decoration: uunderline;
  text-indent: 30px
  text-transform: uppercase;
  color: #F24B6A;
  word-spacing: 10px;
  line-height:
}


   a {
    text-decoration:
