body {
  background-color: #89cff0;
  width:1000px;
  height:1000px;

p {
  font-size: 18px;
  text-align: center;
  color: #000000;
  font-family: mongoose;
}

.plant {
  width: 528px;
  margin: 80px auto 10px;
  position: relative;
  font-size: 0;
}

.dirt {
  width: 528px;
  height: 800px;
  background-color: #322421;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #423a2f;
}

.pot {
  width: 528px;
  height: 0;
  border: solid;
  border-width: 40px 0 0 0;
  border-color: #000080;
  border-bottom-left-radius: 26px 40px;
  border-bottom-right-radius: 26px 40px;
  position: relative;
  display: inline-block;
  background-color: black;
}
.cactus{
  display: inline-block;
  position: relative;
  height: 8px;
  width: 528px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px #3f704d;
}
.cactusleft {
  width: 50px;
  height: 150px;
  border-radius: 40%;
  background-color: #50c878;
}
.cactusmiddle {
  width: 100px;
  height: 300px;
  border-radius: 40%;
  background-color: #32cd32;
}
.cactusright {
  width: 25px;
  height: 75px;
  border-radius: 40%;
  background-color: #0b6623;
}
.cactusflower {
  box-sizing: border-box;
  border-top: 0;
  width: 8px;
  border-radius: 50%;
  background-color: #ff69b4;
}
