body {
  background-color: #89cff0;
}

p {
  font-size: 18px;
  text-align: center;
  color: #000000;
  font-family: mongoose;
}

.plant {
  width: 60px;
  margin: 80px auto 10px;
  position: relative;
  font-size: 0;
}

.dirt {
  width: 60px;
  height: 8px;
  background-color: #322421;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pot {
  width: 60px;
  height: 0;
  border: solid;
  border-width: 40px 0 0 0;
  border-color: #000080 transparent transparent;
  border-bottom-left-radius: 26px 40px;
  border-bottom-right-radius: 26px 40px;
  position: relative;
  display: inline-block;
  z-index: 0;
}
.pot span {
  height: 10px;
  width: 15px;
  display: inline-block;
  background-color: #000080;
  position: relative;
  top: -42px;
  border-radius: 50%;
  margin: 0;
}
.pot span:after {
  content: "";
  top: 6px;
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: #black;
}
.pot span:first-child:after {
  background-color: transparent;
}
.cactus span {
  display: inline-block;
  position: relative;
  height: 8px;
  margin: auto;
  background-color: #50c878;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px #3f704d;
}
.cactus span.right {
  width: 51px;
}
.cactus span.middle {
  width: 39px;
  height: 14px;
}
.cactus span.left {
  width: 27px;
}
.cactus span.flower {
  box-sizing: border-box;
  border-top: 0;
  width: 8px;
  border-radius: 50%;
  background-color: red;
  box-shadow: -1px -1px 0px 3px #C40000 inset;
}
