* {
  margin: 100;
  padding: 100;
  box-sizing: border-box;
}
h1, h2{
  font-family: Arial, serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  text-align: center;
}
body {
  font-family: Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
img {
  display; block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
p {
  font-family: mongoose, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 130px;
}
h3 {
  font-family: Arial, sans-serif;
  font-weight: 40;
  font-style: normal;
  text-align: center;
  font-size: 30px;
}
li{
  display: inline;
  text-align: right;
  text-transform: uppercase;
  word-spacing: 30px;
}
