h1 {
  font-family: mongoose, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}
body {
  font-family: mongoose, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
*{
  box=sizing: border-box;
}
body {
  margin: 50px auto;
  padding: 10px
}
/* blog */
.blogboard {
  width: 800px;
  margin: auto;
}
.header1 {
  width: 800px;
  height: 100px;
  background-color: #ffcccd;
  margin: 20px;
}
.rec {
  width: 800px;
  height: 300px;
  background-color: #afddd5;
  margin: 20px;
}
.rec2 {
  width:  800px;
  height: 250px;
  background-color: #f56093;
  margin: 20px;

}
.footer1 {
  width: 800px;
  height: 60px;
  background-color: #ffcccd;
  margin: 20px;
}
/* checkerboard */
.board {
  width: 800px;
  margin: calc((100vh - 800px) / 2) auto;
}
.red {
  width: 100px;
  height: 100px;
  background-color: #f56093;
  float: left;
}
.white {
  width: 100px;
  height: 100px;
  background-color: #ffcccd;
  float: left;
}
/* column */
body {
  background-color: black;
}
main {
  width: 960px;
  height: 2160px;
  margin:0px auto;
}
.header {
  width: 950px;
  height: 160px;
  margin: 0px auto;
  background-color: #ffcccd;
  border: 5px solid white;
}
.divider {
  width: 900px;
  height: 40px;
  margin: 0px auto;
  background-color: #ffcccd;
  border: 5px solid white;
}
.column1 {
  width: 300px;
  height: 1200px;
  margin: 0px auto;
  background-color: #ffcccd;
  border: 5px solid white;
  float: left;
}
.column2 {
  width: 300px;
  height: 1200px;
  margin: 0px auto;
  background-color: #ffcccd;
  border: 5px solid white;
  float: left;
}
.column3 {
  width: 300px;
  height: 1200px;
  margin: 0px auto;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.footer {
  width: 900px;
  height: 100px;
  margin: 0px auto;
  background-color: #ffcccd;
  border: 5px solid white;
  float: left;
}
