h1 {
  font-family: mongoose, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}
body {
  font-family: mongoose, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
li{
font-family: mongoose, serif;
display: inline-block;
text-transform: uppercase;
font-size: 40px;
padding: 50px;
text-align: left;
}
a:link, a:visited, a:active  {
  color: #hotpink;
  text-decoration: none;
  border-bottom: 2px black;
}
a:hover {
  color: #lightpink;
  border-bottom: 2px white;
}
*{
  box=sizing: border-box;
}
body {
  margin: 50px auto;
  padding: 10px
}
/* blog */
.blogboard {
  width: 800px;
  margin: auto;
}
.header1 {
  width: 800px;
  height: 100px;
  background-color: #ffcccd;
  margin: 20px;
}
.rec {
  width: 800px;
  height: 300px;
  background-color: #afddd5;
  margin: 20px;
}
.rec2 {
  width:  800px;
  height: 250px;
  background-color: #f56093;
  margin: 20px;

}
.footer1 {
  width: 800px;
  height: 60px;
  background-color: #ffcccd;
  margin: 20px;
}
/* checkerboard */
.board {
  width: 800px;
  margin: calc((100vh - 800px) / 2) auto;
}
.red {
  width: 100px;
  height: 100px;
  background-color: #f56093;
  float: left;
}
.white {
  width: 100px;
  height: 100px;
  background-color: #ffcccd;
  float: left;
}
/*column*/
body {
  background-color: white;
}
main {
  width: 900px;
  height: 2160px;
  margin:0px auto;
}
.header {
  width: 870px;
  height: 160px;
  margin: 0px auto;
  background-color: #ffcccd;
  border: 5px solid white;
}
.divider {
  width: 870px;
  height: 40px;
  margin: 0px auto;
  background-color: #ffcccd;
  border: 5px solid white;
}
.column1 {
  width: 286.66px;
  height: 700px;
  margin: 0px auto;
  background-color: #ffcccd;
  border: 5px solid white;
  float: left;
}
.column2 {
  width: 286.66px;
  height: 700px;
  margin: 0px auto;
  background-color: #ffcccd;
  border: 5px solid white;
  float: left;
}
.column3 {
  width: 286.66px;
  height: 700px;
  margin: 0px auto;
  background-color: #ffcccd;
  border: 5px solid white;
  float: left;
}
.footer {
  width: 880px;
  height: 100px;
  margin: 0px auto;
  background-color: #ffcccd;
  float: left;
  border: 5px solid white;
}
/*court*/
body {
  background-color: white;
}
.tenniscourt {
  width: 820px;
  margin: auto;
  display: flow-root;
}
.left1 {
  width: 100px;
  height: 360px;
  background-color: hotpink;
  margin-left: 0px;
  margin-right: 10px;
  float: left;
}
.middletop {
  width: 510px;
  height: 100px;
  background-color: lavender;
  margin-left: 0px;
  margin-right: 0px;
}
.square1 {
  width: 250px;
  height: 250px;
  background-color: pink;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
.square2 {
  width: 250px;
  height: 250px;
  background-color: PaleTurquoise;
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  float: left;
}
.middle {
  float: left;
}
.right1 {
  width: 100px;
  height: 360px;
  background-color: Peachpuff;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}
.top {
  float:left;
}
.bottom {
  float: left;
}
