h1 {
  font-family: mongoose, serif;
font-weight: 400;
font-style:normal;
font-size: 80px;
color:  #ee84b3;
text-align: center;
}
body {
  font-family: mongoose, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  color: #ff96cf;
}
li{
  font-family: mongoose, serif;
  display: inline;
  text-transform: uppercase;
  font-size: 50px;
  padding: 15px;
  text-align: right;

}
  a:link, a:visited, a:active  {
    color: #314753;
    text-decoration: none;
    border-bottom: 2px black;
  }
  a:hover {
    color: #ff60a8;
    border-bottom: 2px white;
  }
}
body {
  margin: 0;
  overflow-x: hidden;
}
main. {
  width: 120vw;
  margin; -10vw;
}
.pattern-1.shape1 {
  width: 100px;
  height: 100px;
  background-color: #ff5768;
  float: left;
}
.shape1 {
  width: 50px;
  height: 50px;
  background-color: #ff96c5;
  float: left;
}
.shape2 {
  width: 70px;
  height: 70px;
  background-color: #8dd7bf;
  float: left;
}
.shape3 {
  width: 100px;
  height: 100px;
  background-color: #00a5e3;
  float: left;
}
.circle_1 {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  background-color: #ff96c5;
  border: 70px #00cdac;
  border-radius: 150px;
  float: left;
}
.circle_2 {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  background-color: #55cbcd;
  border: 70px #ff7e5a;
  border-radius: 150px;
  float: left;
}
.polygon1 {
  width: 40px;
  height: 40px;
  shape-outside: polygon(0 0, 0 40px, 300px 600px);
  clip-path: polygon(0 0, 0 40px, 30px 60px);
  background-color: #a7a3bf;
  float: left;
  margin: -50px;
}
.polygon2 {
  width: 40px;
  height: 40px;
  shape-outside: polygon(0 0, 0 40px, 300px 600px);
  clip-path: polygon(0 0, 0 40px, 30px 60px);
  background-color: #708b74;
  float: left;
  margin: -50px;
}
.polygon2 {
  width: 40px;
  height: 40px;
  shape-outside: polygon(0 0, 0 40px, 300px 600px);
  clip-path: polygon(0 0, 0 40px, 30px 60px);
  background-color: #d1afc7;
  float: left;
  margin: -50px;
  ]
