h1 {
  font-family: mongoose, serif;
font-weight: 400;
font-style:normal;
font-size: 80px;
color:  #f26052;
text-align: center;
}
body {
  font-family: mongoose, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  color: #f2bb13;
}
li{
  font-family: mongoose, serif;
  display: inline;
  text-transform: uppercase;
  font-size: 50px;
  padding: 15px;
  text-align: right;

}
  a:link, a:visited, a:active  {
    color: #314753;
    text-decoration: none;
    border-bottom: 2px black;
  }
  a:hover {
    color: #98BAE0;
    border-bottom: 2px white;
  }
}
body {
  margin: 0;
  overflow-x: hidden;
}
main {
  width: 120vw;
  margin; -10vw;
}
.pattern-1.shape1 {
  width: 100px;
  height: 100px;
  background-color: #f26052;
  float: left;
}
.shape1 {
  width: 50px;
  height: 50px;
  background-color: #f2bb13;
  float: left;
}
.shape2 {
  width: 70px;
  height: 70px;
  background-color: #f2bb13;
  float: left;
}
.shape3 {
  width: 100px;
  height: 100px;
  background-color: #a3d9c9;
  float: left;
}
