body {
  margin: 0;
}
.shape1 {
  width: 100px;
  height: 100px;
  background-color: #f26052;
  float: left;
}
.shape2 {
  width: 100px;
  height: 100px;
  background-color: #f2bb13;
  float: left;
}
.shape3 {
  width: 100px;
  height: 100px;
  background-color: #a3d9c9;
  float: left;
}
